node_red_temp_vib_flow.json
[{"id":"bf269f85.3ec8c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"8dcd9546.097c08","type":"ncd-gateway-node","z":"bf269f85.3ec8c","name":"","connection":"81e57a1c.8fbd68","x":130,"y":100,"wires":[["ec8397bc.e484b8"]]},{"id":"ec8397bc.e484b8","type":"debug","z":"bf269f85.3ec8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":100,"wires":[]},{"id":"7c8c6d9e.92f0d4","type":"ncd-wireless-node","z":"bf269f85.3ec8c","name":"Temperature/Vibration","connection":"c5c43fa.e50d0c","config_comm":"932dbcf.8c1574","addr":"","sensor_type":"8","auto_config":true,"node_id":0,"delay":"1000","destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":100,"y":200,"wires":[["146f79c6.a8c8d6","a3f3783d.775518"]]},{"id":"146f79c6.a8c8d6","type":"debug","z":"bf269f85.3ec8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":340,"wires":[]},{"id":"a3f3783d.775518","type":"split","z":"bf269f85.3ec8c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":330,"y":200,"wires":[["324100a6.279ad"]]},{"id":"324100a6.279ad","type":"switch","z":"bf269f85.3ec8c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"rms_*","vt":"str","case":false},{"t":"regex","v":"max_*","vt":"str","case":false},{"t":"regex","v":"min_*","vt":"str","case":false},{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":500,"y":200,"wires":[["c4c9112d.a5b43"],["6fd6f7a4.b1d228"],["ebcb4081.be1bf"],["b167be6b.432f3"]]},{"id":"c4c9112d.a5b43","type":"ui_chart","z":"bf269f85.3ec8c","name":"","group":"1d658fe9.d49d4","order":1,"width":"12","height":"6","label":"RMS","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":120,"wires":[[]]},{"id":"6fd6f7a4.b1d228","type":"ui_chart","z":"bf269f85.3ec8c","name":"","group":"1d658fe9.d49d4","order":2,"width":"6","height":"6","label":"MAX","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":180,"wires":[[]]},{"id":"ebcb4081.be1bf","type":"ui_chart","z":"bf269f85.3ec8c","name":"","group":"1d658fe9.d49d4","order":3,"width":"6","height":"6","label":"MIN","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":240,"wires":[[]]},{"id":"b167be6b.432f3","type":"ui_gauge","z":"bf269f85.3ec8c","name":"","group":"1d658fe9.d49d4","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value | number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":300,"wires":[]},{"id":"81e57a1c.8fbd68","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"c5c43fa.e50d0c","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"932dbcf.8c1574","type":"ncd-gateway-config","z":"","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM6","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"1d658fe9.d49d4","type":"ui_group","z":"","name":"Vibration","tab":"b885bf5f.d5f31","disp":true,"width":"12","collapse":false},{"id":"b885bf5f.d5f31","type":"ui_tab","z":"","name":"Current","icon":"dashboard"}]